{% extends "layout.html" %}

{% block title %}
Restaurant List Page
{% endblock %}

{% block content %}
<h2>
    BookMyTable Restaurant List Page
</h2>

   {% for r in restaurant_list  %}
        <div class = "font-bold ">
            <a href ="{% url 'restaurant_details' r.R_ID %}">
                <button type = "button"
                class = "menu-btn">
                    <!--<img src = "{{dish.image.url}}" alt = ""> # to insert an image -->
                    <h3 class = "text-2xl font-bold"> {{r.R_Name}} </h3>
                </button>
            </a>
            
        </div>

    {% endfor %} 
    
{% endblock %}

