{% extends "layout.html" %}

{% block title %}
Restaurant List - BookMyTable
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="card-heading text-center">Restaurant List</h2>

    {% for r in restaurant_list %}
      
            <a href="{% url 'restaurant_details' r.R_ID %}?user_id={{ user_id }}">
                <button type="button" class="button">
                    <div style="font-size: 1rem;">{{ r.R_Name }} </div>
                </button>
            </a>

    {% endfor %}
</div>
{% endblock %}
