<!-- This is a common template file that will be used by all the pages-->
 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--We want different pages to have different titles so we'll use an unamed block. 
        This block can be over written any time and you can even assign it a default value-->
    <title>
        
        {% block title %}
        BookMyTable <!--This is the default value-->
        {% endblock %}
   
    </title>

    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <!-- Header -->
    <header>
        <div class="header-title">
            <a href="/" class="logo-link">
                 <h1 class="logo">Book My Table</h1>
            </a>
            <p class="catchphrase">Your perfect dining experience</p>
        </div>
    
        <div class="header-right">
            <input type="text" placeholder=" Search....    " class="search-bar">
            <!-- <button class="menu-btn" onclick="toggleSidebar()">☰</button> -->
            <button class="menu-btn" onclick="toggleMenu()">☰</button>
        </div>
    </header>
    
    <!-- Sidebar
    <div class="sidebar" id="sidebar">
        <button class="close-btn" onclick="toggleSidebar()">X</button>
        <a href="#">Profile</a>
        <a href="#">My Reviews</a>
        <a href="#">My Reservations</a>
        <a href="#">Saved Restaurants</a>
    </div> -->

    <div class="dropdown-menu" id="dropdownMenu">
        <button class="close-btn" onclick="toggleMenu()">X</button>
        <a href="#">Profile</a>
        <a href="#">My Reviews</a>
        <a href="#">My Reservations</a>
        <a href="#">Saved Restaurants</a>
    </div>
    

    <!-- Main Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <h3>Contact Us</h3>
            <p><strong>Email:</strong> support@bookmytable.com</p>
        </div>
    </footer>

    <!-- JavaScript for Sidebar -->
    <script>
        // function toggleSidebar() {
        //     const sidebar = document.getElementById('sidebar');
        //     sidebar.classList.toggle('active');
        // }
        function toggleMenu() {
            const menu = document.getElementById('dropdownMenu');
            menu.classList.toggle('active');
        }

    </script>
</body>
</html>