{% extends 'layout.html' %}

{% block title %}
My Reservations
{% endblock %}

{% block content %}

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
    }
    .table th, .table td {
        padding: 10px;
        border: 1px solid #ddd; /* Adds border around each cell */
        text-align: center;
    }
    .table th {
        background-color: #f8f9fa;
    }
</style>

<div class="container">
    <h1 class="card-heading text-center">My Reservations</h1>
    {% if reservations %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Restaurant</th>
                    <th>Table</th>
                    <th>Starting Time</th>
                    <th>Ending Time</th>
                    <th>Status</th>
                    {% if user.is_owner %}
                    <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ reservation.restaurant.R_Name }}</td>
                    <td>{{ reservation.table.table_number }}</td>
                    <td>{{ reservation.starting_time }}</td>
                    <td>{{ reservation.ending_time }}</td>
                    <td>{{ reservation.reservation_status }}</td>
                    {% if user.is_owner %}
                    <td>
                        <a href="{% url 'delete_reservation' reservation.id %}" class="btn btn-danger">
                            Delete
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No reservations found.</p>
    {% endif %}
</div>
{% endblock %}
