{% extends 'layout.html' %}

{% block title %}
My Reservations
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="card-header text-center">My Reservations</h1>
    {% if reservations %}
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Restaurant</th>
                    <th>Table</th>
                    <th>Starting Time</th>
                    <th>Ending Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ reservation.restaurant.R_Name }}</td>
                    <td>{{ reservation.table.table_number }}</td>
                    <td>{{ reservation.starting_time }}</td>
                    <td>{{ reservation.ending_time }}</td>
                    <td>{{ reservation.reservation_status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No reservations found.</p>
    {% endif %}
</div>
{% endblock %}
