{% extends 'layout.html' %}

{% block title %}
Profile - BookMyTable
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-heading text-center">My Profile </div>
        <div class="list-group-item d-flex flex-column align-items-start">
            <p><strong>Username:</strong> {{ profile_data.username }}</p>
            <p><strong>Email:</strong> {{ profile_data.email }}</p>
            <p><strong>Contact Number:</strong> {{ profile_data.contact_number }}</p>
        </div>
    </div>
</div>
{% endblock %}

